.photo-grid {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  padding-bottom: 92px;

}
@media screen and (max-width: 1024px) {
    .photo-grid {
      max-width: 928px;
      margin: 0 auto;
      }
}
@media screen and (max-width: 420px) {
    .photo-grid {

    max-width: 288px;
    margin: 0 auto;
    gap: 12px;

    }
}
