.lead {
  border: 1px solid red;
  max-width: 80%;
  margin: 0 auto;
  /* background-image: url('../images/lead-road.png');
  z-index: 1; */
}
@media screen and (max-width: 768px) {
   .lead  {

/* identical to box height, or 109% */
max-width: 95%;
margin: 0 auto;



   }
}
