.cover__subtitle {
  /* border: 1px solid red; */
  max-width: 360px;
  margin: auto;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
}
@media screen and (max-width: 320px) {
    .cover__subtitle {
      font-family: Inter, Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
/* or 114% */

      text-align: center;



      color: #FFFFFF;
    }
}
