.place__link {
  /* border: 1px solid red; */
  align-self: center;
  color: white;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  align-self: start;



}
.place__link:hover {
  opacity: 50%;
}
@media screen and (max-width: 420px) {
   .place__link {
    display: none;
  }
}
