.footer {
  /* border: 1px solid red; */
  padding: 92px 0 24px 0;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
    .footer {
      max-width: 928px;
      margin: 0 auto;
      }
}

@media screen and (max-width: 768px) {
    .footer {
      max-width: 720px;
      margin: 0 auto;
      }
}

@media screen and (max-width: 420px) {
   .footer {

/* identical to box height, or 109% */
  display: block;
   padding: 64px 0 0 0;

   }
}
