.intro__title {
  /* border: 1px solid red; */
  max-width: 690px;
  margin: 92px 0 40px 0;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}
@media screen and (max-width: 420px) {
    .intro__title {
      font-family: Inter, Arial, sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 32px;
      line-height: 35px;
      /* text-align: center; */
      color: #FFFFFF;
    }
}
